@use "main" as s;

body.dashboard {
  position: fixed;
}

.content-wrapper {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.content {
  max-height: 100vh;
  overflow-y: scroll;
  padding: 60px 20px;
}

@media (min-width: 768px){
  .content{
    padding: 40px 50px;
  }
}

/*fix wrapper width*/
.content:after {
  content: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci animi assumenda autem dignissimos est eveniet exercitationem, facilis illum itaque laudantium minima quod repellat reprehenderit sint sit tempora, vel veniam, voluptates.";
  visibility: hidden;
}

.info-card{
  //box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: 200ms ease-in-out;


  .card-body{
    height: 200px;
    mask-image: linear-gradient(180deg, #000 60%, transparent);
  }
  &:hover{
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    background-color: white;
    transition: 200ms ease-in-out;
  }
  .title{
    font-size: .9rem;
  }
  a{
    display: block;
    color: #201f1f;
  }
  a:hover{
    color: #4c4c4f;
  }
  .post-time{
    font-size: .8rem;
  }

}

/*Section Header*/
.header{
  border-radius: 10px 10px 0 0;
  .btn{
    background-color: #F3F5F8;
    mix-blend-mode: multiply !important;
  }
  h3{
    font-size: 1.4rem;
  }
}

.jadwal-header {
  background-color: #EDEDEE;
}

.materi-header{
  background-color: #D7EAEA;
}

.content-materi.dashboard {
  max-height: 300px;
  overflow-y: scroll;
  @include s.scrollbarY;
  background-color: #EBF6F6;
}

/*======== Ebook =========*/
.ebook-header{
  background-color: #D2DAFF;
}

.ebook .input-group {
  max-width: 500px;
}

.content-ebook{
  &.dashboard{
    background-color: #EEF1FF;
    max-height: 400px;
    overflow-y: scroll;
    @include s.scrollbarY;
  }
  .card-footer{
    background-color: #D2DAFF;
    padding: 5px 15px;
    border: none;
    cursor: grab;
    overflow-x: scroll;
  }
  .card-footer::-webkit-scrollbar {
    height: 0px;
  }
  .card-footer .d-flex{
    width: 0;
  }
  .badge{
    background-color: white;
    color: #173B68;
    font-size: .9rem;
  }
}

/*Menu Button*/
.content-materi .menu-button,
.content-ebook .menu-button,
{
  width: 60px;
  margin-right: 0;

  .btn {
    border-radius: initial;
  }

  .btn:hover {
    background-color: s.$grey-1;
  }
}

.dashboard-edit-button{
  transition: 200ms;
  &:hover {
    background-color: s.$grey-1;
    transition: 200ms;
  }
}
